body.is-vertical-center {
  font-family: sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a.is-vertical-center {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.column {
  color: aqua;
}

Heading {
  align-content: center;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}
